body,
section.date {
    display: flex;
    flex-direction: column;
}
section.date {
    border-top: 1px black solid;
    padding-bottom: 1em;
}
section.mss {
    display: flex;
    flex-direction: row;
}
section.ms {
    flex: 0 0 50%;
}
.same {
    background-color: palegreen;
}
.different {
    background-color: pink;
}