teiHeader {background-color: yellow;}
msIdentifier {display:block; background-color: pink;}
msIdentifier:before {content: 'msIdentifier: ';}
physDesc {background-color: lightgreen;}
msItemStruct {display:block;}
msItemStruct > msItemStruct {padding-left: 2em;}
msContents {padding-top: 1em;}
msItemStruct:before {content: attr('xml:id') ': ';}
incipit {font-family: 'bukyvede';}
