
@font-face {
    font-family:"Bukyvede";
    src:url("BukyVede-Regular.woff2") format("woff2"),url("BukyVede-Regular.woff") format("woff"),url("BukyVede-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        