
@font-face {
    font-family:"Old Standard Regular";
    src:url("OldStandard-Regular.woff2") format("woff2"),url("OldStandard-Regular.woff") format("woff"),url("OldStandard-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        