@font-face {
    font-family: 'BukyVedeRegular';
    src: url('fonts/BukyVedeRegular.eot');
    src: url('fonts/BukyVedeRegular.eot') format('embedded-opentype'),
         url('fonts/BukyVedeRegular.woff2') format('woff2'),
         url('fonts/BukyVedeRegular.woff') format('woff'),
         url('fonts/BukyVedeRegular.ttf') format('truetype'),
         url('fonts/BukyVedeRegular.svg#BukyVedeRegular') format('svg');
}