/* Application styles could go here */
@import url("font.css");

html{
    height:100%;
}
body{
    display:flex;
    flex-direction:column;
    height:100%;
}

sup
{
    font-size: 70%;
    vertical-align: text-middle;
    line-height: 0;
}

header{
    flex:0 0 auto;
}
.main-content{
    flex:1 0 auto;
}

.navbar-brand img {
    height:50px;
}

a {
    color:#764524;
}

footer{
    flex:0 0 auto;
    font-size:13px;
    padding:20px;
    left:0;
    right:0;
    width:100%;
    margin-top:10px;
    border-top: 1px solid #8e8c84;
}

footer .poweredby { margin: auto;}
footer .poweredby img { display: block; width: 120px; margin-left:auto; margin-right:auto;}

.result {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.result li:lang(cu) {
    color:#800000;
}

:lang(cu) {
    font-family:Bukyvede;
    font-size:120%;
}


:lang(cu) sup {
    font-family:Bukyvede;
    font-size:80%;
}