@font-face {
  font-family: "Bukyvede";
  src: 
  url("fonts/BukyVede-Regular.woff2") format("woff2"), 
url("fonts/BukyVede-Regular.woff") format("woff"), 
url("fonts/BukyVede-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'BukyvedeLightWeb';
  src: url('fonts/Bukyvede_Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Bukyvede_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
url('fonts/Bukyvede_Light.woff') format('woff'), /* Modern Browsers */ 
url('fonts/Bukyvede_Light.ttf') format('truetype'), /* Safari, Android, iOS */ 
url('fonts/Bukyvede_Light.svg#1d6dadb2045bcf2c9fcbd3f4b1735ff4') format('svg'); /* Legacy iOS */

  font-style: normal;
  font-weight: 200;
}

.os {
  font-family: BukyvedeLightWeb;
  font-weight: normal;
}
.gk {
  font-family: Palatino;
  font-size: 95%;
}
/* in folio view, text on left, image on right, scale image */
body {
  overflow-x: hidden;
}
footer {
  font-size: smaller;
}
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
sup {
  line-height: 0;
}
/* Components of sampleText: rubric, head, incipit, explicit, p, div */
span.incipit,
span.explicit,
span.head,
span.rubric,
span.finalRubric,
span.colophon,
span.sample,
span.note {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;
  font-size: 90%;
}
span.incipit,
span.explicit,
span.head,
span.rubric,
span.finalRubric,
span.colophon,
span.sample {
  font-family: 'BukyvedeLightWeb';
  /* <note> uses regular font*/
}

.additions {
  font-size: 80%;
}
div.archeaography {
  text-indent: 2em;
}
span.head:before {
  content: 'Head: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.incipit:before {
  content: 'Incipit: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.explicit:before {
  content: 'Explicit: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.rubric {
  color: red;
  font-weight: bold;
}
span.rubric:before {
  content: 'Rubric: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.finalRubric:before {
  content: 'Final rubric: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.sample::before {
  content: 'Sample: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.colophon:before {
  content: 'Colophon: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.note:before {
  content: 'Note: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
.boilerplate {
  margin: 1em 0;
  position: relative;
}
.boilerplate > span.text {
  text-indent: -1em;
  margin-left: 1em;
  display: block;
  font-size: smaller;
  line-height: 1.2em;
}
.flag > img {
  width: 1em;
  border: 1px brown solid;
}
.flags > span {
  padding: 0 0.15em;
}
.small {
  font-size: smaller;
}
.archeography {
  display: inline !important;
}
.sic {
  color: red;
}
.sic:after {
  content: " [sic]";
  font-family: serif;
}
span.bibl:before {
  /* Distinguish from div.bibl */
  content: " (";
}
span.bibl:after {
  /*  Distinguish from div.bibl */
  content: ") ";
}
span.unclear:before,
span.supplied:before {
  content: "[";
}
span.unclear:after,
span.supplied:after {
  content: "]";
}
span.gap:before {
  content: " <";
}
span.gap:after {
  content: "> ";
}
span.add {
  color: green;
}
a {
  color: blue;
}
.label {
  color: gray;
}
#msDescTable,
msDescTable > * {
  border: 1px lightgray solid;
  padding-top: 2px;
  padding-bottom: 2px;
}
/* Right-aligned numbering from http://jsfiddle.net/zgMYu/10/ */
#msDescTable > tr > th {
  text-align: left;
}
table,
tr,
td,
th {
  border: 1px solid lightgray;
}
th {
  vertical-align: top;
}
#msDescContents,
#titlesWrapper {
  counter-reset: l1
}
#msDescContents > div.text,
#titlesWrapper > div.text {
  counter-reset: l2
}
#msDescContents > div.text::before,
#titlesWrapper > div.text::before {
  counter-increment: l1;
  content: counter(l1) '.';
  display: inline-block;
  padding-right: .5em;
  width: 1.5em;
  text-align: right;
}
#msDescContents > div.text > div.text,
#titlesWrapper > div.text > div.text {
  counter-reset: l3;
  padding-left: 2em;
}
#msDescContents > div.text > div.text::before,
#titlesWrapper > div.text > div.text::before {
  counter-increment: l2;
  content: counter(l1) '.' counter(l2) '.';
  display: inline-block;
  padding-right: .5em;
}
#msDescContents > div.text > div.text > div.text,
#titlesWrapper > div.text > div.text > div.text {
  padding-left: 2em;
}
#msDescContents > div.text > div.text > div.text::before,
#titlesWrapper > div.text > div.text > div.text::before {
  counter-increment: l3;
  content: counter(l1) '.' counter(l2) '.' counter(l3) '. ';
  display: inline-block;
  padding-right: .5em;
}
#msDescContents div.text > div.samples,
#titlesWrapper div.text > div.samples {
  padding-left: 2em;
  margin-top: 0;
  margin-bottom: 0;
}
.samples *.head,
.samples *.incipit,
.samples *.explicit,
.samples *.rubric,
.samples *.sampleText,
.samples *.finalRubric,
.samples *.colophon {
  font-family: BukyvedeLightWeb;
}
.lozenge {
  margin-bottom: -2px;
}
/* in-line SVG in manuscript listings*/
li .lozenge {
  height: 13px;
}
#search li > a > svg {
  padding: 0 0.15em;
}
#widgets {
  position: absolute;
  right: 1em;
}
.flags .lozenge {
  margin-bottom: 0;
}
#titles ul {
  list-style-type: none;
}
/* SVG rendering */
#main_svg > g {
  fill: yellow;
  stroke: black;
  stroke-width: 1px;
}
#main_svg > g > rect {
  width: 60px;
  height: 17px;
}
#main_svg > g > a > text {
  font-size: 90%;
  fill: black;
  stroke: black;
}
#main_svg > line {
  stroke-width: 0.5px;
}
.additions > ul {
  margin: 0;
  padding-left: 2em;
}
.additions .os {
  font-family: BukyvedeLightWeb;
}

/* pop-up bibliography information is in <div class="bibData">
    wavy underline from http://stackoverflow.com/questions/28152175/a-wavy-underline-in-css
*/
@keyframes animate_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes animate_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
div.bibl {
  display: inline-block;
  border-bottom: 1px dotted orange;
  position: relative;
}
div.bibl:after {
  content: '';
  height: 5px;
  border-bottom: 1px dotted orange;
  position: absolute;
  bottom: -2px;
  left: -1px;
}
div.bibData {
  display: none;
  position: fixed;
  width: 500px;
  right: 10px;
  top: 0;
  background: lightgoldenrodyellow;
  z-index: 10;
  padding: 5px 5px 5px 1.5em;
  border: 1px solid firebrick;
}
div.bibl:hover > div.bibData
{
  display: block;
  margin-top: 1em;
  animation-name: animate_opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: animate_opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
div.bibData > * {
  /* except part of biblScope; see below */
  display: block;
  text-indent: -1em;
}
div.bibData > .author:before {
  content: 'Author: ';
  font-weight: bolder;
}
div.bibData > .articleTitle:before {
  content: 'Article title: ';
  font-weight: bolder;
}
div.bibData > .monographTitle {
  font-style: italic;
}
div.bibData > .monographTitle:before {
  content: 'Volume title: ';
  font-weight: bolder;
  font-style: normal;
}
div.bibData > .journalTitle {
  font-style: italic;
}
div.bibData > .journalTitle:before {
  content: 'Journal title: ';
  font-weight: bolder;
  font-style: normal;
}
div.bibData > .seriesTitle:before {
  content: 'Series title: ';
  font-weight: bolder;
}
div.bibData > .publication:before {
  content: 'Published: ';
  font-weight: bolder;
}
div.bibData > .date:before {
  content: 'Date: ';
  font-weight: bolder;
}
div.bibData > .scope:before {
  content: 'Scope: ';
  font-weight: bolder;
}
.scope > * {
  display: inline;
}
.scope > .volume:before {
  content: 'Volume: ';
  color: gray;
}
.scope > .issue:before {
  content: 'Issue: ';
  color: gray;
}
.scope > .pages:before {
  content: 'Pages: ';
  color: gray;
}
.lg {
  display: inline;
}
.hide {
  display: none;
}
#index > ul {
  text-indent: -1.5em;
  list-style-type: none;
}
/* Search page */
#contents {
  display: flex;
  flex-direction: row;
}
#searchControls {
  padding-right: 1em;
  border-right: 1px lightgray solid;
}
#searchControls fieldset > div:first-of-type {
  /* https://stackoverflow.com/questions/58906591/aligning-form-labels-in-a-css-grid */
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: .3em;
  margin-bottom: .5em;
  min-width: 450px;
}
#searchControls select {
  background-color: white; /* Firefox defaults to gray */
}
#searchControls fieldset button {
  margin-left: .3em;
}
#searchControls fieldset > div > hr {
  grid-column: 1/3;
  width: 95%;
}
label {
  white-space: nowrap;
}
#contents {
  flex: 1;
}
#mss > h3,
#searchControls > h3 {
  text-align: center;
}
#mss ul {
  text-indent: -1.5em;
  list-style-type: none;
}
