/* ======================================================================= */
/* Contents:                                                               */
/*   Fonts                                                                 */
/*   Global                                                                */
/*   Header                                                                */
/*   Footers                                                               */
/*   Body                                                                  */
/*   Navigation widgets                                                    */
/*   Search page                                                           */
/*   sampleText subsections                                                */
/*   sampleText inline elements                                            */
/*   Codicology table                                                      */
/*   Bibliographic section of codicology table                             */
/*   Codicology subsections (other than contents and bibliography)         */
/*   Plectogram                                                            */
/* ======================================================================= */

/* ======================================================================= */
/* Fonts                                                                   */
/* ======================================================================= */
@font-face {
  font-family: "Bukyvede";
  src: 
  url("fonts/BukyVede-Regular.woff2") format("woff2"), 
url("fonts/BukyVede-Regular.woff") format("woff"), 
url("fonts/BukyVede-Regular.otf") format("opentype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'BukyvedeLightWeb';
  src: url('fonts/Bukyvede_Light.eot'); /* IE9 Compat Modes */
  src: url('fonts/Bukyvede_Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ 
url('fonts/Bukyvede_Light.woff') format('woff'), /* Modern Browsers */ 
url('fonts/Bukyvede_Light.ttf') format('truetype'), /* Safari, Android, iOS */ 
url('fonts/Bukyvede_Light.svg#1d6dadb2045bcf2c9fcbd3f4b1735ff4') format('svg'); /* Legacy iOS */
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: "Old Standard Regular";
  src: url("fonts/OldStandard-Regular.woff2") format("woff2"), 
url("fonts/OldStandard-Regular.woff") format("woff"), 
url("fonts/OldStandard-Regular.otf") format("opentype"), 
url("fonts/OldStandard-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
/* ======================================================================= */
/* Global                                                                  */
/* ======================================================================= */
table,
tr,
td,
th { /* Overwrites style.css regular gray */
  border: 1px solid lightgray;
  border-collapse: collapse;
}
a {
  color: blue;
}
.hide {
  display: none;
}
.os {
  font-family: "Old Standard Regular", BukyvedeLightWeb;
  font-weight: normal;
}
.gk {
  font-family: "Old Standard Regular", Palatino;
}
/* ======================================================================= */
/* Header (contains link to home and site title                            */
/* ======================================================================= */
h1 {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* ======================================================================= */
/* Footers:                                                                */
/*   Copyright colophon on all pages                                       */
/*   Ms colophon on titles and codicology pages                            */
/* ======================================================================= */
footer {
  font-size: smaller;
}
.label {
  color: gray;
}
/* ======================================================================= */
/* Body                                                                    */
/* ======================================================================= */
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
}
main {
  flex: 1;
}
/* ======================================================================= */
/* Navigation widgets (except inline links to codicology and titles)       */
/* ======================================================================= */
#widgets {
  position: absolute;
  right: 1em;
  display: flex;
  gap: .25em;
  align-items: center;
  top: 0;
}
.flag img {
  width: 1em;
  border: 1px brown solid;
}
.view img {
  width: 2em;
}
.nav img {
  width: 1em;
}
.flag {
  padding-bottom: .2em;
}
/* ======================================================================= */
/* Search page                                                             */
/* ======================================================================= */
#contents {
  display: flex;
  flex-direction: column;
}
#searchControls {
  padding-right: 1em;
  border-right: 1px lightgray solid;
}
#searchWidgets {
  /* https://stackoverflow.com/questions/58906591/aligning-form-labels-in-a-css-grid */
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: .5em;
  min-width: 450px;
  margin-bottom: .3em;
  width: 100%;
}
#searchWidgets > div {
  display: inline-grid;
  grid-template-columns: auto 1fr;
  gap: .3em;
}
#searchControls select,
#searchControls input {
  /* Firefox defaults to gray */
  background-color: white;
  border: 1px solid black;
}
#searchControls *:disabled {
  /* We disable unpopulated search widgets on submit to avoid cluttering the URL
   * These settings suppress the flash of default disabled styling */
  color: initial;
  opacity: initial;
  border-color: initial;
  border: 1px black solid;
  background-color: white;
}
#searchControls fieldset button {
  margin-left: .3em;
}
#searchControls fieldset hr {
  grid-column: 1/2;
  width: 95%;
}
#dropDowns > select {
  width: 25em;
}
label { /* labels form widget */
  white-space: nowrap;
}
#contents {
  flex: 1;
}
#mss > h3,
#searchControls > h3 {
  text-align: center;
}
#mss ul {
  text-indent: -1.5em;
  list-style-type: none;
}
#widgets > * {
  cursor: pointer;
}
#widgets > button {
  /* Plectogram trigger is a Submit button */
  width: 2em;
  height: 2em;
  border: none;
  padding: 0;
}
/* ======================================================================= */
/* sampleText subsections .                                                */
/* <note> is regular font, otherwise all are formatted identically         */
/* ======================================================================= */
span.head,
span.rubric,
span.incipit,
span.sample,
span.explicit,
span.finalRubric,
span.colophon,
span.note {
  display: block;
  margin-top: 0;
  margin-bottom: 0;
  text-indent: 0;
  font-size: 90%;
}
span.head,
span.rubric,
span.incipit,
span.sample,
span.explicit,
span.finalRubric,
span.colophon
{
  font-family: "Old Standard Regular", BukyvedeLightWeb;
  /* <note> uses regular font*/
}
span.rubric {
  color: red;
  font-weight: bold;
}
span.head:before {
  content: 'Head: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.rubric:before {
  content: 'Rubric: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.incipit:before {
  content: 'Incipit: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.sample::before {
  content: 'Sample: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.explicit:before {
  content: 'Explicit: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.finalRubric:before {
  content: 'Final rubric: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.colophon:before {
  content: 'Colophon: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
span.note:before {
  content: 'Note: ';
  font-weight: bold;
  font-family: serif;
  color: gray;
}
/* ======================================================================= */
/* sampleText inline elements                                              */
/* ======================================================================= */
sup {
  line-height: 0;
}
.sic {
  color: red;
}
.sic:after {
  content: " [sic]";
  font-family: serif;
}
span.unclear:before,
span.supplied:before {
  content: "[";
}
span.unclear:after,
span.supplied:after {
  content: "]";
}
span.gap:before {
  content: " <";
}
span.gap:after {
  content: "> ";
}
span.add {
  color: green;
}
/* ======================================================================= */
/* Codicology table                                                        */
/* ======================================================================= */
/* Right-aligned numbering from http://jsfiddle.net/zgMYu/10/ */
#codicologyTable > tr > th {
  text-align: left;
  vertical-align: top;
}
#codicologyContents,
#titlesWrapper {
  counter-reset: l1
}
#codicologyContents > div.text,
#titlesWrapper > div.text {
  counter-reset: l2
}
#codicologyContents > div.text::before,
#titlesWrapper > div.text::before {
  counter-increment: l1;
  content: counter(l1) '.';
  display: inline-block;
  padding-right: .5em;
  width: 1.5em;
  text-align: right;
}
#codicologyContents > div.text > div.text,
#titlesWrapper > div.text > div.text {
  counter-reset: l3;
  padding-left: 2em;
}
#codicologyContents > div.text > div.text::before,
#titlesWrapper > div.text > div.text::before {
  counter-increment: l2;
  content: counter(l1) '.' counter(l2) '.';
  display: inline-block;
  padding-right: .5em;
}
#codicologyContents > div.text > div.text > div.text,
#titlesWrapper > div.text > div.text > div.text {
  padding-left: 2em;
}
#codicologyContents > div.text > div.text > div.text::before,
#titlesWrapper > div.text > div.text > div.text::before {
  counter-increment: l3;
  content: counter(l1) '.' counter(l2) '.' counter(l3) '. ';
  display: inline-block;
  padding-right: .5em;
}
#codicologyContents div.text > div.samples,
#titlesWrapper div.text > div.samples {
  padding-left: 2.2em;
  margin-top: 0;
  margin-bottom: 0;
}
/* ======================================================================= */
/* Bibliography subsection of codicology contents                          */
/* ======================================================================= */
span.bibl:before {
  /* Distinguish from div.bibl, which is the overlay */
  content: " (";
}
span.bibl:after {
  /*  Distinguish from div.bibl */
  content: ") ";
}
.lozenge {
  margin-bottom: -2px;
}
/* in-line SVG in manuscript listings*/
li .lozenge {
  height: 13px;
}
.flags .lozenge {
  margin-bottom: 0;
}
#titles ul {
  list-style-type: none;
}
/* pop-up bibliography information is in <div class="bibData">
    wavy underline from http://stackoverflow.com/questions/28152175/a-wavy-underline-in-css
*/
@keyframes animate_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
@-webkit-keyframes animate_opacity {
    from {opacity: 0;}
    to {opacity: 1;}
}
div.bibl {
  display: inline-block;
  border-bottom: 1px dotted orange;
  position: relative;
}
div.bibl:after {
  content: '';
  height: 5px;
  border-bottom: 1px dotted orange;
  position: absolute;
  bottom: -2px;
  left: -1px;
}
div.bibData {
  display: none;
  position: fixed;
  width: 500px;
  right: 10px;
  top: 0;
  background: lightgoldenrodyellow;
  z-index: 10;
  padding: 5px 5px 5px 1.5em;
  border: 1px solid firebrick;
}
div.bibl:hover > div.bibData
{
  display: block;
  margin-top: 1em;
  animation-name: animate_opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-name: animate_opacity;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
}
div.bibData > * {
  /* except part of biblScope; see below */
  display: block;
  text-indent: -1em;
}
div.bibData > .author:before {
  content: 'Author: ';
  font-weight: bolder;
}
div.bibData > .articleTitle:before {
  content: 'Article title: ';
  font-weight: bolder;
}
div.bibData > .monographTitle {
  font-style: italic;
}
div.bibData > .monographTitle:before {
  content: 'Volume title: ';
  font-weight: bolder;
  font-style: normal;
}
div.bibData > .journalTitle {
  font-style: italic;
}
div.bibData > .journalTitle:before {
  content: 'Journal title: ';
  font-weight: bolder;
  font-style: normal;
}
div.bibData > .seriesTitle:before {
  content: 'Series title: ';
  font-weight: bolder;
}
div.bibData > .publication:before {
  content: 'Published: ';
  font-weight: bolder;
}
div.bibData > .date:before {
  content: 'Date: ';
  font-weight: bolder;
}
div.bibData > .scope:before {
  content: 'Scope: ';
  font-weight: bolder;
}
.scope > * {
  display: inline;
}
.scope > .volume:before {
  content: 'Volume: ';
  color: gray;
}
.scope > .issue:before {
  content: 'Issue: ';
  color: gray;
}
.scope > .pages:before {
  content: 'Pages: ';
  color: gray;
}
/* ======================================================================= */
/* Codicology subsections (other than contents and bibliography)           */
/* ======================================================================= */
.additions {
  font-size: 80%;
}
.additions > ul {
  margin: 0;
  padding-left: 2em;
}
/* ======================================================================= */
/* Plectogram                                                              */
/* ======================================================================= */
.draggable {
  fill: yellow;
  stroke: black;
  stroke-width: 0.5;
}
#main_svg > g > rect {
  width: 60px;
  height: 17px;
}
#columns text {
  font-size: 90%;
  fill: black;
  stroke: black;
}
#columns > g > a > text,
#columns > g > a:hover {
  fill: blue;
  stroke: blue;
}
#main_svg line {
  stroke: black;
  stroke-width: 0.5px;
}
rect {
  cursor: pointer;
}

